*.exe
.vscode
*.ilk
*.pdb
*.exe.manifest
build
CMakeFiles
Makefile
*.a
*.lib
_deps
build
cmake_install.cmake
CMakeCache.txt
lib
*.cer
*.key
*.dll
log.txt
imgui.ini
cache 
test.rss
subscribed.txt
temp.txt
*.rss
libs
*.htm
